<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear />
		<add name="Demo"
		 providerName="Microsoft.Data.SqlClient"
		 connectionString="Data Source=localhost\SQLEXPRESS;
		 Initial Catalog=demo;
		 Integrated Security=True;
		 Encrypt=False" />
	</connectionStrings>
</configuration>