<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- 清除先前定义的所有连接字符串 -->
		<clear />
		<!-- 使用名称标识连接字符串 -->
		<!-- providerName 属性用于指定数据库提供程序的名称。 -->
		<!-- 数据库提供程序是一个.NET Framework的组件，用于连接到特定类型的数据库 -->
		<add name="Demo"
		 providerName="Microsoft.Data.SqlClient"
		 connectionString="Data Source=localhost\SQLEXPRESS;
		 Initial Catalog=demo;
		 Integrated Security=True;
		 Encrypt=False" />
	</connectionStrings>
</configuration>